/* Google fronts import*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

/* Asterisk wild selector to override deaful styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cherry Bomb One', cursive;
    background: url('../images/background-dark-scuba-divers.webp') no-repeat center	center/cover;
}

.hidden-heading {
    display: none;
}

.header {
    margin: 10px auto;
    z-index: 99;
}

.header h1 {
    font-size: 300%;
    text-align: center;
    color: rgb(255, 20, 75);
    text-shadow: 5px 5px 5px rgb(8, 16, 115);
    letter-spacing: 0.3em;
}

.timer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 200%;
}

.red {
    color: rgb(225, 0, 101);
}

.block-game {
    position: relative;
    max-width: 100%;
    width: 270px;
    height: 270px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    perspective: 1000px;
    z-index: 99;
}

.cards {
    width: calc(25% - 12px);
    height: calc(25% - 12px);
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front-face-card, .back-face-card {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: #5e7bef;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    backface-visibility: hidden;
    box-shadow: 5px	5px 3px rgb(8, 16, 115);
}

.cards.flip {
    transform: rotateY(180deg);
}

.front-face-card {
    transform: rotateY(180deg);
}

#restart-btn {
    display: flex;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    justify-content: center;
    font-size: 28px;
    width: 200px;
    transition: all .5s;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 5px 5px 3px rgb(8, 16, 115);
}

#restart-btn:hover {
    background-color: green;
}

#start-btn {
    background-color: green;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    width: 200px;
    transition: all .5s;
    cursor: pointer;
    margin: 10px auto;
}

#start-btn:hover {
    background-color: #7b38d8;

}

.start-window, .final-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
    background: url('../images/bubble-blue-main.svg') no-repeat	center center/cover;
    position: absolute;
    overflow:auto;
    /* top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 50%;
}

.start-window-content {
    justify-content: center;
    margin: auto auto;
}


/* .final-window {
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    z-index: 100;
    background: url('../images/bubble-blue-main.svg') no-repeat center center/cover;
    position: absolute;
    overflow: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} */

#results {
    display: none;
}


.final-window-content {
    margin: -125px 25px 0;
}